{{#extends 'base'}}
{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Category</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each posters}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.category.name}}</td>
                <td>{{#each this.tags}}<span>{{this.name}}</span>{{/each}}</td>
                <td>
                    <a href="/posters/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                    <a href="/posters/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}